#one{
    width: 20%;
    background-color: red;
    font-size: 200%;
}
#two{
    width: 20%;
    background-color: red;
    font-size: 200%;
    margin-top: 10px;
}

#one:hover{
    background-color: gold;
}
/* #one:active{
    background-color: blueviolet;
} */